@import "tailwindcss";

@theme {
    --*: initial;

    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Merriweather', sans-serif;

    --spacing: 0.313rem; /* 5px */
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 87.5rem;

    --text-sm: 0.8125rem; /* 13px */
    --text-base: 0.875rem; /* 14px */
    --font-weight-normal: 400;
    --font-weight-medium: 500;

    --color-red-400: #ff6467;
    --color-gray-100: #f3f4f6;

    --color-black: #000;
    --color-white: #fff;

    --radius-sm: .25rem; /* 3px */
}